@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

:root {
  --rolex-green: rgba(0, 96, 57, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 231, 47);
  font-family: 'EB Garamond', serif;
}

.title {
  text-align: center;
  padding: 3rem;
  color: var(--rolex-green);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clock {
  background: var(--rolex-green);
  background: radial-gradient(
    circle,
    var(--rolex-green) 0%,
    rgba(3, 51, 0, 1) 100%
  );
  border: 10px solid goldenrod;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: relative;
}

.crown-logo {
  position: absolute;
  left: 50%;
  padding-top: 0.5em;
  transform: translate(-50%);
  color: goldenrod;
}

.upper-text {
  color: goldenrod;
  text-align: center;
  padding-top: 2em;
}

.upper-text > p:nth-child(2) {
  font-size: small;
}

.lower-text {
  position: absolute;
  color: goldenrod;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
}

.middle-ring {
  background-color: goldenrod;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.hand {
  position: absolute;
  transform-origin: 100%;
  top: 50%;
  border-color: goldenrod;
  border-style: solid;
}

.hour-hand {
  border-width: 3px;
  width: 25%;
  left: 25%;
  transform: rotate(20deg);
}

.minute-hand {
  border-width: 3px;
  width: 50%;
}

.second-hand {
  border-width: 1px;
  width: 50%;
  transform: rotate(0deg);
}
